/* set flex-containers */
.flex-containers{
  margin: 10px;
  display: flex
}

.flex-containers:nth-child(1){
  background-color: blanchedalmond;
  display: flex;
}

.flex-containers:nth-child(2){
  background-color: chartreuse;
  display: inline-flex;
}

/* set container */
.container{
  width: 300px;
  margin: 80px;
  border: 2px solid black;
}

.flex-containers:nth-child(1) > .container{
  display: flex;
  /* flex-wrap: wrap; */
  /* align-content: center; */
}

.flex-containers:nth-child(2) > .container{
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container:nth-child(1){
  flex-direction: row;
}

.container:nth-child(2){
  flex-direction: row-reverse;
}

.container:nth-child(3){
  flex-direction: column;
}

.container:nth-child(4){
  flex-direction: column-reverse;
}

/* set items */
.container > div{
  width: 110px;
  height: 110px;
  border: 5px dashed salmon;
  text-align: center;
  box-sizing: border-box;
}

.container > div:nth-child(1){
  background-color: red;
}

.container > div:nth-child(2){
  background-color: blue
}

.container > div:nth-child(3){
  background-color: green
}

.container > div:nth-child(4){
  background-color: gold
}
/* flex-grow, flex-basis, order */
#grow div{
  border: 5px solid black;
  flex-basis: 0;
}

#grow div:nth-child(1) {
  order: 1;
  flex-grow: 1;
}

#grow div:nth-child(2) {
  flex-grow: 2;
}

#grow div:nth-child(3) {
  order: -1;
  flex-grow: 1;
}

/* shrink */
#shrink div{
  flex-shrink: 0;
}