body {
  margin: 0 auto;
  width: 20vw;
  /* inherit */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
}

/* flex box */
.container {
  padding-top: 200px;
  display: flex;
  justify-content: center;
}

/* flex items */
.container div{
  width: 100px;
  height: 100px;
  margin: 20px;
  opacity: 0.5;
  transition: 1s;
  transform: skewX(-10deg);
  /* perspective property */
  perspective: 100px;
}

.container div:nth-child(1) {
  background-color: red;
}
.container div:nth-child(2) {
  background-color: green;
}
.container div:nth-child(3) {
  background-color: blue;
}
.container div:nth-child(4) {
  background-color: black;
}

/* transform */
.container div:hover {
  /* perspective funtion */
  transform: perspective(100px) rotateX(180deg) scale(1.3);
  opacity: 1;
}

.container div:focus {
  border: 2px solid goldenrod;
  opacity: 1;
  /* perspectiv property */
  transform: rotateX(180deg) scale(1.2) skewX(10deg);
}

/* choose box */
.choose {
  display: flex;
  justify-content: center;
  position: relative;
}

.choose *{
  position: absolute;
  margin: 0px;
}

.choose button:nth-child(1){
  width: 100px;
  transition: 1s;
  z-index: 1;
}

.choose button:nth-child(1):active {
  backface-visibility: hidden;
  transform:perspective(100px) rotateX(100deg);
}