.container{
  width: 550px;
  background-color: blanchedalmond;
  position: relative;
}

.container div{
  border: 10px solid seagreen;
}

.container :nth-child(1){
  width: 100px;
  height: 100px;

  /* absolute - set relative parent as standard
  if no ancestors who has property of position - set viewport as standard */
  position: absolute;
  right: 100px;
  bottom: 100px;
}

.container :nth-child(2){
  width: 200px;
  height: 100px;

  /* relative - set oneself as standard */
  position: relative;
  top: 20px;
  left: 140px;
}

.container :nth-child(3){
  width: 100px;
  height: 200px;
}